.primary_nav
	.row
		%nav{:class => "top-bar", "data-topbar" => ""}
			%ul.title-area
				%li.name
					%h1
						%a{:href =>"#"}
							%img{:src => "images/NKF-logo_Vert_OB.png", :alt => "NKF | National Kidney Foundation, Inc."}
				/Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone
				%li.toggle-topbar.menu-icon
					%a{:href => "#"}
						%span Menu
			%section.top-bar-section
				/Right Nav Section
				%ul.right
					%li.active.has-dropdown
						%a{:href => "#"} DONATE NOW!
						%ul.dropdown
							%li
								%a{:href => "#"} Make a Gift
							%li
								%a{:href => "#"} Be An Organ Donor
							%li
								%a{:href => "#"} Car Donation
							%li
								%a{:href => "#"} Volunteer
							%li
								%a{:href => "#"} Corporate Support
					%li.has-form
						.row.collapse
							.large-8.small-9.columns
								%input{:type => "text", :placeholder => "Find Stuff"}
							.large-4.small-3.columns
								%a{:href => "#", :class => "alert button expand"} Search
					

				/Left Nav Section
				%ul.left
					%li
						%a{:href => "#"} Real Stories
					%li.has-dropdown
						%a{:href => "#"} Kidney Disease
						%ul.dropdown
							%li
								%a{:href => "#"} First link in dropdown
							%li
								%a{:href => "#"} Second link in dropdown
							%li
								%a{:href => "#"} Third link in dropdown
					%li.has-dropdown
						%a{:href => "#"} Patients
						%ul.dropdown
							%li
								%a{:href => "#"} First link in dropdown
							%li
								%a{:href => "#"} Second link in dropdown
							%li
								%a{:href => "#"} Third link in dropdown
					
					%li.has-dropdown
						%a{:href => "#"} Professionals
						%ul.dropdown
							%li
								%a{:href => "#"} First link in dropdown
							%li
								%a{:href => "#"} Second link in dropdown
							%li
								%a{:href => "#"} Third link in dropdown
					%li.has-dropdown
						%a{:href => "#"} Events
						%ul.dropdown
							%li
								%a{:href => "#"} First link in dropdown
							%li
								%a{:href => "#"} Second link in dropdown
							%li
								%a{:href => "#"} Third link in dropdown
					%li.has-dropdown
						%a{:href => "#"} Advocacy
						%ul.dropdown
							%li
								%a{:href => "#"} First link in dropdown
							%li
								%a{:href => "#"} Second link in dropdown
							%li
								%a{:href => "#"} Third link in dropdown