!!!5
%html{:class => "no-js", :lang => "en"}
	/ @include ../partials/header.kit
	/ @include ../partials/primary_nav.kit
	/ @include ../partials/slider.kit
	/ @include ../templates/content.kit
	/ @include ../partials/footer.kit