!!!5
%html{:class => "no-js", :lang => "en"}
	%head
		%meta{:charset => "utf-8"}
		%meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
		%title NKF | Foundation
		%link{:rel => "stylesheet", :href => "css/foundation.css"}
		%link{:rel => "stylesheet", :href => "css/nkf.css"}
		%link{:rel => 'stylesheet', :href => 'http://fonts.googleapis.com/css?family=Open+Sans', :type => 'text/css'}
		%script{:src => "js/vendor/modernizr.js"}
	%body
		.primary_nav
			.row
				%nav{:class => "top-bar", "data-topbar" => ""}
					%ul.title-area
						%li.name
							%h1
								%a{:href =>"#"}
									%img{:src => "img/NKF-logo_Vert_OB.png", :alt => "NKF | National Kidney Foundation, Inc."}
						/Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone
						%li.toggle-topbar.menu-icon
							%a{:href => "#"}
								%span Menu
					%section.top-bar-section
						/Right Nav Section
						%ul.right
							%li.active.has-dropdown
								%a{:href => "#"} DONATE NOW!
								%ul.dropdown
									%li
										%a{:href => "#"} Make a Gift
									%li
										%a{:href => "#"} Be An Organ Donor
									%li
										%a{:href => "#"} Car Donation
									%li
										%a{:href => "#"} Volunteer
									%li
										%a{:href => "#"} Corporate Support
							%li.has-form
								.row.collapse
									.large-8.small-9.columns
										%input{:type => "text", :placeholder => "Find Stuff"}
									.large-4.small-3.columns
										%a{:href => "#", :class => "alert button expand"} Search
							

						/Left Nav Section
						%ul.left
							%li
								%a{:href => "#"} Real Stories
							%li.has-dropdown
								%a{:href => "#"} Kidney Disease
								%ul.dropdown
									%li
										%a{:href => "#"} First link in dropdown
									%li
										%a{:href => "#"} Second link in dropdown
									%li
										%a{:href => "#"} Third link in dropdown
							%li.has-dropdown
								%a{:href => "#"} Patients
								%ul.dropdown
									%li
										%a{:href => "#"} First link in dropdown
									%li
										%a{:href => "#"} Second link in dropdown
									%li
										%a{:href => "#"} Third link in dropdown
							
							%li.has-dropdown
								%a{:href => "#"} Professionals
								%ul.dropdown
									%li
										%a{:href => "#"} First link in dropdown
									%li
										%a{:href => "#"} Second link in dropdown
									%li
										%a{:href => "#"} Third link in dropdown
							%li.has-dropdown
								%a{:href => "#"} Events
								%ul.dropdown
									%li
										%a{:href => "#"} First link in dropdown
									%li
										%a{:href => "#"} Second link in dropdown
									%li
										%a{:href => "#"} Third link in dropdown
							%li.has-dropdown
								%a{:href => "#"} Advocacy
								%ul.dropdown
									%li
										%a{:href => "#"} First link in dropdown
									%li
										%a{:href => "#"} Second link in dropdown
									%li
										%a{:href => "#"} Third link in dropdown
		.slider
			%img{:src => "http://placehold.it/990x440&text=Slider+990x440"}
		.content
			.row
				.small-2.large-4.columns.panel 4 Columns
				.small-4.large-4.columns.panel 4 Columns
				.small-6.large-4.columns.panel 4 Columns
			.row
				.large-3.columns.panel 3 Columns
				.large-6.columns.panel 6 Columns
				.large-3.columns.panel 3 Columns
			.row
				.small-6.large-2.columns.panel 2 Columns
				.small-6.large-8.columns.panel 8 Columns
				.small-12.large-2.columns.panel 2 Columns
			.row
				.small-3.columns.panel 3 Columns
				.small-9.columns.panel 9 Columns
			.row
				.large-4.columns.panel 4 Columns
				.large-8.columns.panel 8 Columns
			.row
				.small-6.large-5.columns.panel 5 Columns
				.small-6.large-7.columns.panel 7 Columns
			.row
				.large-6.columns.panel 6 Columns
				.large-6.columns.panel 6 Columns
	%script{:type => "text/javascript", :src => "http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"}
	%script{:src => "js/foundation/foundation.js"}
	%script{:src => "js/foundation/foundation.topbar.js"}
	%script $(document).foundation();