.primary_nav {
  background: #000; }
  @media only screen and (min-width: 740px) and (max-width: 1029px) {
    .primary_nav .top-bar {
      height: 80px; } }
  @media only screen and (max-width: 739px) {
    .primary_nav .top-bar {
      height: 230px; } }
  .primary_nav .top-bar .title-area {
    z-index: 9999; }
    @media only screen and (min-width: 740px) and (max-width: 1029px) {
      .primary_nav .top-bar .title-area {
        height: 80px; } }
    @media only screen and (max-width: 739px) {
      .primary_nav .top-bar .title-area {
        height: 120px; } }
    .primary_nav .top-bar .title-area h1 {
      width: 80px;
      background: #fff;
      padding: 20px 0;
      border-left: 1px solid #eee;
      border-right: 1px solid #eee;
      border-bottom: 1px solid #eee; }
      @media only screen and (min-width: 740px) and (max-width: 1029px) { }
      @media only screen and (max-width: 739px) {
        .primary_nav .top-bar .title-area h1 {
          height: 120px;
          width: 100%;
          border: none;
          text-align: center; } }
      @media only screen and (min-width: 740px) and (max-width: 1029px) { }
      @media only screen and (max-width: 739px) {
        .primary_nav .top-bar .title-area h1 a {
          width: 100%; } }
      @media only screen and (min-width: 740px) and (max-width: 1029px) { }
      @media only screen and (max-width: 739px) {
        .primary_nav .top-bar .title-area h1 img {
          height: 85px;
          width: auto; } }
    .primary_nav .top-bar .title-area .toggle-topbar {
      z-index: 9999; }
      .primary_nav .top-bar .title-area .toggle-topbar a {
        color: #000; }
        .primary_nav .top-bar .title-area .toggle-topbar a::after {
          box-shadow: 0 10px 0 1px black, 0 16px 0 1px black, 0 22px 0 1px black; }
  .primary_nav .top-bar.expanded {
    height: 555px; }
  @media only screen and (min-width: 740px) and (max-width: 1029px) { }
  @media only screen and (max-width: 739px) { }
  .primary_nav .top-bar .right {
    margin-left: 0; }
    @media only screen and (min-width: 740px) and (max-width: 1029px) {
      .primary_nav .top-bar .right {
        margin-left: 0; } }
    @media only screen and (max-width: 739px) {
      .primary_nav .top-bar .right {
        margin-left: 0; } }
  .primary_nav .top-bar .left {
    margin-left: 80px; }
    @media only screen and (min-width: 740px) and (max-width: 1029px) { }
    @media only screen and (max-width: 739px) {
      .primary_nav .top-bar .left {
        margin-left: 0; } }
  .primary_nav .top-bar .button {
    line-height: 24px; }

.slider img {
  width: 100%;
  height: auto; }

